body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #faf8ef;
  color: #776e65;
}

.container {
  max-width: 550px;
  padding: 0 25px;
  margin: 0 auto;
}

/* start header block */
.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-top: 60px;
}

.title {
  font-size: 80px;
}

.header__scores {
  display: flex;
}

.scores__container {
  display: flex;
}

.score__block {
  border-radius: 3px;
  padding-top: 0px;
  background-color: #bbada0;
  color: #fff;
  height: 55px;
  width: 100px;
  text-align: center;
}

.score__block:not(:last-child) {
  margin-right: 5px;
}

.score__title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.score__number {
  display: block;
  font-size: 22.5px;
  font-weight: bold;
}
/* end header block */

/* start middle block  */
.middle-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-intro {
  font-size: 20px;
}

.new-game {
  display: inline-block;
  background-color: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
  color: #f9f6f2;
  height: 40px;
  font-size: 20px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  flex-shrink: 0;
}

/* end middle block  */

/* start game block */
/* start restart game */
.game-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 228, 218, 0.73);
  z-index: 100;
}

.game-message__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.game-message__title {
  font-size: 56px;
}

.game-message__text {
  display: block;
  font-weight: bold;
  font-size: 26px;
}

.game-message__continue {
  cursor: pointer;
  display: none;
  font-size: 26px;
  margin-top: 25px;
}

.game-message__continue a {
  text-decoration: underline;
  color: rgb(202, 40, 94);
}
/* end restart game */

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background-color: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

.squares-container {
  position: absolute;
  z-index: 1;
}

.squares-row {
  margin-bottom: 15px;
}

.squares-row::after {
  content: "";
  display: block;
  clear: both;
}

.square-cell {
  margin-bottom: 15px;
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background-color: rgba(238, 228, 218, 0.35);
}

.square {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  width: 106.25px;
  height: 106.25px;
  margin: 0 15px 15px 0;
  border-radius: 3px;
  background-color: rgba(238, 228, 218, 0.35);
}

.square-2 {
  background-color: #eee4da;
}

.square-4 {
  background-color: #eee1c9;
}

.square-8 {
  color: #f9f6f2;
  background-color: #f3b27a;
}

.square-16 {
  color: #f9f6f2;
  background-color: #f69664;
}

.square-32 {
  color: #f9f6f2;
  background-color: #f77c5f;
}

.square-64 {
  color: #f9f6f2;
  background-color: #f75f3b;
}

.square-128 {
  color: #f9f6f2;
  background-color: #edd073;
}

.square-256 {
  color: #f9f6f2;
  background-color: #edcc62;
}

.square-512 {
  color: #f9f6f2;
  background-color: #edc950;
}

.square-1024 {
  color: #f9f6f2;
  background-color: #edc53f;
  font-size: 37.5px;
}

.square-2048 {
  color: #f9f6f2;
  background-color: #edc22e;
  font-size: 37.5px;
}

.square-4096 {
  color: #f9f6f2;
  background-color: #fe3d3d;
  font-size: 37.5px;
}

.square-8192 {
  color: #f9f6f2;
  background-color: #ff2020;
  font-size: 37.5px;
}
/* end game block */
